@page "/calendarEntries"

<AppPageTitle pageName="Calendar" />

<div class="rz-text-align-center">
    <RadzenCard Class="rz-my-6 rz-mx-auto" Style="max-width: 900px">
        <Calendar />
    </RadzenCard>
</div>

