@page "/Goals"

<AppPageTitle pageName="Goals" />

<div class="rz-p-sm-12 rz-text-align-center">
    <RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 1000px">
        @*<GoalsTable Activities=@ActivityDtos Goals=@GoalDtos GoalsService=@GoalService />*@
        <GoalsTable />
    </RadzenCard>
</div>
